//
// custom vars, shared cross-templates
//
$font_system_default: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
$color_dark_side: #F51E30;
$color_republica: #48599b;
