.vader {

    &.vader__breathing {
        content: "whhhhHHHHHHHRRRR PPPPRRRrrrrrhhhhhhhhh";
        display: block;
        color: red;
    }

}

.star {

    &.star__engine {
        background: var(--color_dark_side);
    }

}
