.chewbacca {

    &.chewbacca__cry {
        display: block;
        content: "AAARARRRGWWWH";
        color: blue;
    }

}

.falcon {

    &.falcon__engine {
        background: var(--color_republica);
    }

}
