#content {
  margin: 150px;
  padding: 50px;
  text-align: center;
  background: yellow;
}

#myDialog {
  text-align: left;
}

#myDialog form {
  border-bottom: 3px dotted black;
  padding-bottom: 10px;
}

#closeMyDialog {
  margin-top: 20px;
}

#comment {
  margin-top: 10px;
  padding: 5px;
  background: antiquewhite;
}

#comment ol li {
  margin-bottom: 10px;
}
